<section id="user-details">
  <%= render partial: 'user', locals: { user: @user } %>
  <div class="card text-bg-light mb-3" style="max-width: 100%; padding: 1rem;">
    <h3>Bio</h3>
    <div class="card-body">
      <p><%= @user.bio %></p>
    </div>
  </div>
  <br>

  <% @user_posts.each do |post| %>
    <div id="post-<%= post.id %>" class="card text-bg-light mb-3" style="max-width: 100%; padding: 1rem;">
      <%= render partial: 'posts/post', locals: { post: post } %>
    </div>
  <% end %>

  <%= link_to 'Create New Post', new_user_post_path(@user), remote: true %>
  <br>

  <%= link_to 'See all posts', user_posts_path(@user), id: 'see-all-posts-link' %>

  <!-- Add the button to go to all users page -->
  <%= link_to 'All Users', users_path, class: 'btn btn-primary' %>
</section>
