<!-- app/views/posts/show.html.erb -->

<div class="card text-bg-light mb-3" style="max-width: 100%; padding: 1rem;">
  <div class="comm-like-container" style="display: flex; gap: 24px">
    <h3>Post <%= @post.id %> by <%= @post.author.name %></h3>
    <div style="display: flex; gap: 12px;">
      <p>Number of Comments: <%= @post.comments_counter %></p>
      <p>Number of Likes: <%= @post.likes_counter %></p>
    </div>
  </div>
  <p><%= @post.text %></p>
</div>

<!-- Box for Each Comment with Spacing -->
<% if @post.comments.present? %>
  <% @post.comments.each do |comment| %>
    <div class="card text-bg-light mb-3" style="max-width: 100%; padding: 1rem; margin-top: 10px; margin-bottom: 10px;">
      <%= render partial: 'comments/comment', locals: { comment: comment } %>
    </div>
  <% end %>
<% else %>
  <div class="card text-bg-light mb-3" style="max-width: 100%; padding: 1rem;">
    <p>No comments yet.</p>
  </div>
<% end %>

<!-- Add the form for creating likes -->
<div>
  <%= render 'likes/new', user: @user, post: @post %>
  <%= render 'comments/new', user: @user, post: @post %>
</div>
